.alignbox {
    height: 600px; 
    width: auto;
    /* margin-top: 70px; */
    padding-top: 50px;
     border: 2px solid black;
     /* overflow: scroll; */
}
.b{
    background-image: url('../Images/7.jpg');
    /* background-repeat: no-repeat; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}