/* .SignIn{
    margin-top: 20px;
    height: 450px;
    width: 25%;
    border: 2px solid pink;

} */
input {
    color: deeppink;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    height: 20px;
    width: 98%;
    border-radius: 2px;
    border: 2px solid white;
    outline: none;
    border-bottom: 2px solid deeppink;
    /* border-right: 2px solid deeppink; */
    margin-top: 20px;
    transition-duration: 0.5s;
}

input:hover {
    border-bottom: 2px solid deeppink;
    border-right: 2px solid deeppink;
    transition-duration: 0.5s;
}
#submit {
    font-size: 15px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 2px solid gray;
    height: 50px;
    width: 98%;
    font-family: 'Anton', sans-serif;
    margin-top: -50px;
    transition-duration: 0.5s;
    margin-top: 20px;
}


#submit:hover {
    background-color: deeppink;
    color: white;
    transition-duration: 0.5s;
}